# Staging-specific overrides
# Usage: docker compose -f docker-compose.yml -f docker-compose.staging.yml up -d
include:
  - docker-compose.utilities.yml

services:
  redis:
    command: [ "redis-server",
               "/usr/local/etc/redis/redis.conf",
               "--maxmemory",
               "5000mb", ]

  ipfs-downloader:
    deploy:
      replicas: 1

  arion-downloader:
    deploy:
      replicas: 1
