apiVersion: v1
kind: Service
metadata:
  name: gateway-nodeport
  labels:
    app: gateway
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
      nodePort: 30080
