apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hippius-s3-staging

resources:
  - ../base

patchesStrategicMerge:
  - namespace-patch.yaml
  - environment-patch.yaml
  - resource-limits.yaml

images:
  - name: registry.starkleytech.com/hippius/api
    newTag: latest
  - name: registry.starkleytech.com/hippius/gateway
    newTag: latest
  - name: registry.starkleytech.com/hippius/workers
    newTag: latest
