apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: downloader
spec:
  replicas: 5
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: object-cache-pvc
spec:
  resources:
    requests:
      storage: 500Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: persist-pvc
spec:
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dlq-pvc
spec:
  resources:
    requests:
      storage: 10Gi
