apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hippius-s3-prod

resources:
  - ../base
  - postgres-objectstore.yaml

patches:
  - path: namespace-patch.yaml
  - path: environment-patch.yaml
  - path: resource-limits.yaml
  - path: postgres-tuning.yaml
  - path: postgres-backup.yaml
  - path: redis-tuning.yaml
  - path: ingress-patch.yaml
  - path: services-patch.yaml

images:
  - name: ghcr.io/thenervelab/hippius-s3/api
    newTag: latest
  - name: ghcr.io/thenervelab/hippius-s3/gateway
    newTag: latest
  - name: ghcr.io/thenervelab/hippius-s3/workers
    newTag: latest
