apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hippius-s3-prod

resources:
  - ../base

patchesStrategicMerge:
  - namespace-patch.yaml
  - environment-patch.yaml
  - resource-limits.yaml
  - postgres-tuning.yaml
  - postgres-backup.yaml
  - redis-tuning.yaml
  - redis-cluster-configmap-patch.yaml
  - redis-cluster-statefulset-patch.yaml
  - redis-cluster-init-job-patch.yaml
  - ingress-patch.yaml

images:
  - name: ghcr.io/thenervelab/hippius-s3/api
    newTag: latest
  - name: ghcr.io/thenervelab/hippius-s3/gateway
    newTag: latest
  - name: ghcr.io/thenervelab/hippius-s3/workers
    newTag: latest
