apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
spec:
  storage:
    size: 100Gi

  resources:
    requests:
      cpu: 500m
      memory: 10Gi
    limits:
      cpu: 8000m
      memory: 32Gi

  postgresql:
    parameters:
      max_connections: "1000"
      shared_buffers: "8GB"
      effective_cache_size: "24GB"
      work_mem: "64MB"
      maintenance_work_mem: "2GB"
      checkpoint_completion_target: "0.9"
      wal_buffers: "64MB"
      default_statistics_target: "500"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      max_worker_processes: "48"
      max_parallel_workers_per_gather: "8"
      max_parallel_workers: "24"
      max_parallel_maintenance_workers: "8"
      wal_level: "replica"
      max_wal_size: "4GB"
      min_wal_size: "1GB"
      checkpoint_timeout: "15min"
