apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
spec:
  backup:
    barmanObjectStore:
      destinationPath: "s3://BACKUP_BUCKET_PLACEHOLDER/production/postgres/"
      endpointURL: "BACKUP_ENDPOINT_PLACEHOLDER"
