apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 4
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 4
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ipfs-downloader
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: arion-downloader
spec:
  replicas: 1
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: object-cache-pvc
spec:
  resources:
    requests:
      storage: 9728Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: persist-pvc
spec:
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dlq-pvc
spec:
  resources:
    requests:
      storage: 20Gi
