apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: api-internal-only

spec:
  podSelector:
    matchLabels:
      app: api
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: gateway
        - podSelector:
            matchExpressions:
              - key: worker-type
                operator: Exists
      ports:
        - protocol: TCP
          port: 8000
