apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: daily-backup
spec:
  schedule: "0 2 * * *"
  backupOwnerReference: self
  method: barmanObjectStore
  cluster:
    name: postgres
